main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h h"
    "n n"
    "ar as"
    "f f";
}

img {
  border: 1px solid black;
}

nav a {
  border: 1px solid rgb(1, 2, 48);
  color: rgb(0, 174, 255);
  background-color: rgb(1, 2, 48);
}

.kartya {
  border: 1px solid black;
  background-color: rgb(53, 102, 165);
  color: rgb(0, 174, 255);

}

.fizetes {
  border: 1px solid black;
  background-color: blue;
  color: rgb(0, 174, 255);
}

article {
  border: 1px solid black;
  grid-area: ar;
  background-color: blue;
}

.kartya2 {
  border: 1px solid black;
}

.kosarba {
  border: 1px solid black;
  background-color: blue;
  color: rgb(0, 174, 255);
}

.kosarba2 {
  border: 1px solid black;
  background-color: rgb(197, 190, 190);
}

footer {
  border: 1px solid black;
  grid-area: f;
}

nav {
  border: 1px solid black;
  grid-area: n;
  background-color: rgb(53, 102, 165);
}

h3 {
  color: rgb(0, 174, 255);
}

header {
  border: 1px solid blue;
  color: rgb(0, 174, 255);
  background-color: blue;
  grid-area: h;
}
aside {
  grid-area: as;
  border: 1px solid black;
}

.fizetes2 {
  border: 1px solid black;
}

table{
  border: 1px solid black;  
}

.bbl{
   color: rgb(0, 174, 255);
    background-color: rgb(53, 102, 165);
}

.valami{
    background-color: white;
}